---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}

        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const navbar = document.getElementById("navbar");
        
            if (!navbar) {
              console.error("Navbar NOT found!");
              return;
            }
        
            window.addEventListener("scroll", function () {
              if (window.scrollY > 10px) {
                navbar.classList.add("show-on-scroll");
              } else {
                navbar.classList.remove("show-on-scroll");
              }
            });
          });
        </script>
    </body>
</html>

