---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="has-push-menu">
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const navbar = document.getElementById("navbar");

                window.addEventListener("scroll", function () {
                    if (window.scrollY > 50) {
                        navbar.classList.add("show-on-scroll");
                    } else {
                        navbar.classList.remove("show-on-scroll");
                    }
                });
            });
        </script>
        
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
    </body>
</html>

